name: Create Codespace and Update Repository

on:
  push:
    branches:
      "*"
  workflow_dispatch:
    inputs:
      dynamic_path:
        description: 'Enter the dynamic path'
        required: true
        default: 'example_path'

jobs:
  create-codespace:
    runs-on: ubuntu-latest
    outputs:
      codespace_url: ${{ steps.create_codespace.outputs.codespace_url }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: Install Dependencies
        run: npm install
        env:
          GITHUB_TOKEN: ${{ secrets.MY_PAT_TOKEN }}

      - name: Update Devcontainer JSON
        run: |
          dynamicFilePath=${{ github.event.inputs.dynamic_path }}
          sed -i 's|openFiles": \[|openFiles": \[\n    "'"$dynamicFilePath"'"|' .devcontainer/devcontainer.json

      - name: Pull Latest Changes from Main Branch
        run: |
          git config --global user.email "mohit.tekwani@thomsonreuters.com"
          git config --global user.name "Mohit-TekwaniTR"

      - name: Create New Branch and Push Changes
        run: |
          git checkout ${{ github.event.inputs.branch_name }}
          git add .
          git commit -m "Update devcontainer.json"
          git push -u origin ${{ github.event.inputs.branch_name }} -f

      - name: Create Codespace
        id: create_codespace
        run: |
          REPO_OWNER="Mohit-TekwaniTR"
          REPO_NAME="mohit-test"
          GITHUB_TOKEN="${{ secrets.MY_PAT_TOKEN }}"
          BRANCH_NAME="${{ github.event.inputs.branch_name }}"
          response=$(curl -v \
            -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: Bearer $GITHUB_TOKEN" \
            -d '{"ref":"refs/heads/'"$BRANCH_NAME"'","machine":"standardLinux32gb"}' \
            "https://api.github.com/repos/$REPO_OWNER/$REPO_NAME/codespaces")
          CODESPACE_URL=$(echo "$response" | jq -r '.web_url')
          echo "Codespace created: $CODESPACE_URL"
          echo '{"codespace_url": "'"$CODESPACE_URL"'"}' > output.json
          echo "::set-output name=codespace_url::$CODESPACE_URL"

      - name: Display Contents of output.json
        run: cat output.json

      - name: Upload Output Artifact
        uses: actions/upload-artifact@v2
        with:
          name: output
          path: output.json

      - name: Create Pull Request
        if: steps.create_codespace.outputs.codespace_url != '' && steps.create_codespace.outputs.codespace_url != null
        run: |
            # Get the current branch name
            BRANCH_NAME=$(git rev-parse --abbrev-ref HEAD)
            curl -X POST \
              -H "Accept: application/vnd.github.v3+json" \
              -H "Authorization: token $GITHUB_TOKEN" \
              -d "{\"title\":\"Update devcontainer.json\",\"head\":\"$BRANCH_NAME\",\"base\":\"main\"}" \
              "https://api.github.com/repos/$REPO_OWNER/$REPO_NAME/pulls"
